<h1> Eat-Da-Burger</h1>

<h2>What type of burger do you want?</h2>
{{!-- creating a form --}}
<form class = "create-update-form" action="/" method ="POST">

    <div class = "form-group">
        <input type="text" id= "ca" name = "name">
    </div>
    <button type = "submit"> Add Burger</button>
</form>

<p>Enter a burger you want to eat, Click the "Submit" button</p>
