<nav>
    <div class="nav-wrapper grey lighten-0 ">
        <h1 font size="3"><a href="/" class="brand-logo center black-text "> Eat the Burger!</a></h1>
        <ul id="nav-mobile" class="left">
            <!--<li><a href="/"><i class="material-icons">home</i></a></li>-->
            <!--<li><a href="/menu">View Menu</a></li>-->
        </ul>
    </div>
</nav>